@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Klukva';
  src: url('./assets/fonts/Klukva_version_01.otf') format('opentype');
  font-weight: 400;
}

:root {
  font-family: Inter, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  background-color: #fcfbe3;
  color: #4ca;
  /* color: #2e2e2e; */
  -webkit-font-smoothing: antialiased;
}

::placeholder {
  color: #383333;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: 14px;
}

button {
  cursor: pointer;
  background-color: #4ca;
  color: #fcfbe3;
  /* margin-top: 20px; */
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

input:focus::placeholder {
  opacity: 0;
}
